<div class="nav">
    <div class="left">
        <h2><span>NEWS</span> APP</h2>
    </div>
    <div class="right">
        <ul class="social links">
            <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
        </ul>
    </div>
</div>
<hr>
<div class="navlink__container">
    <div>
        <ul class="navlink">
            <li><a>Home</a></li>
            <li><a>Page</a></li>
            <li><a>Science</a></li>
            <li><a>Technology</a></li>
            <li><a>Beauty Us</a></li>
            <li><a>Health</a></li>
            <li><a>Arts & Culture</a></li>
            <li><a>Opinion</a></li>
            <li><a>Gallery</a></li>
        </ul>
    </div>
    <div class="searchbar">
        <form class="search-box">
            <input type="text" placeholder="Search">
            <button type="reset"></button>
        </form>
    </div>
</div>